.dashboard-container {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 5px 10px;
}
.left-menu-side {
  background-color: blue;
  height: 100vh;
  width: 20%;
  background-color: blue;
  height: 100vh;
  width: 20%;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  padding: 10px 5px;
  border-radius: 0.375rem;
  padding: 10px 15px;
  /* box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1); */
  border-radius: 14px;
  height: 90vh;
}
.left-bottm {
  display: flex;
  width: 200px;
  justify-content: space-around;
  height: 60px;
  align-items: flex-start;
  flex-direction: column;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.cont {
  display: flex;
}
.menu-contain {
  display: flex;
  height: 60%;
  flex-direction: column;
  justify-content: space-around;
}
.right-side {
  height: 100vh;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.nav {
  width: 100%;
  /* height: 100px; */
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card {
  width: 100%;
  height: 100px;
  /* background-color: brown; */
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
}
.card-items {
  display: flex;
  flex-direction: column;
  border-radius: 14px;
  width: 9rem;
  padding: 10px;
  gap: 10px;
  box-shadow: -2px 1px 8px 3px rgba(0, 0, 0, 0.1);
}
.sp-btw-flx {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.activities-graph {
  /* width: 50%; */
  /* height: 100px; */
  /* background-color: chocolate; */
  display: flex;
  width: 100%;
  height: 59%;
  /* justify-content: center;
  align-items: center; */
  /* justify-content: center; */
  flex-direction: column;
  box-shadow: -2px 1px 8px 3px rgba(0, 0, 0, 0.1);
  border-radius: 14px;
  /* width: 200px;
  height: 200px; */
}
.b-g-flx {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.bar-chart {
  width: 80%;
  justify-content: center;
  display: flex;
  margin: 0px auto;
  align-items: center;
}
.bar-g-right {
  display: flex;
  justify-content: space-around;
  /* width: 23%; */
  gap: 20px;
  align-items: center;
}
.bar-g-left {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.bar-g {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sp-btw {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
}

.span-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.gap {
  gap: 10px;
  color: white;
}

.inp {
  border: none;
  outline: none;
  flex: 1;
  text-align: center;
}
.search-input {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
}

.search-icon {
  margin-right: 5px;
  color: #888;
}
.avatar {
  border: 1px solid blue;
  border-radius: 32px;
  height: 43px;
  width: 100%;
}
.nav-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.noti-icon {
  font-size: 26px;
  font-weight: bolder;
}
.profile-conatiner {
  width: 400px;
  height: 100%;
  /* background-color: darkblue; */
  width: 400px;
  justify-content: center;
  display: flex;
  align-items: center;
  /* font-size: 52px;
  font-weight: bolder; */
  cursor: pointer;
  box-shadow: -2px 1px 8px 3px rgba(0, 0, 0, 0.1);
  border-radius: 14px;
  height: 100%;
  flex-wrap: wrap;
}
.pie {
  width: 100%;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.pie-chart {
  display: block;
  height: 181px;
  width: 380px;
  width: 50%;
  display: flex;
  width: 50%;
  flex-direction: column;
  box-shadow: -2px 1px 8px 3px rgba(0, 0, 0, 0.1);
  border-radius: 14px;
  /* justify-content: center; */
  align-items: center;
  height: 100%;
}
.pie-flx {
  display: flex;
  gap: 12px;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}
.wi {
  display: flex;
  width: 100px;
  width: 100%;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  align-items: stretch;
  gap: 10px;
  padding: 0px 20px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 14px;
}
.flx {
  display: flex;
  gap: 32px;
  padding: 10px 0;
  flex-direction: column;
}
.cont {
  display: flex;
  gap: 20px;
  justify-content: space-around;
  align-items: center;
}
.cont-socil {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.nav-heading {
  font-size: 40px;
  font-weight: bolder;
}

.total-rev {
  color: #86efac;
  font-size: large;
}
.total-tran {
  color: #fdba74;
  font-size: large;
}
.total-likes {
  color: #fca5a5;
  font-size: large;
}
.total-users {
  color: #a5b4fc;
  font-size: large;
}

.bold {
  font-weight: bold;
  font-size: large;
}

.round {
  border-radius: 20px;
  background-color: #86efac;
  color: green;
}
.acti {
  font-weight: bolder;
}
.g-dot {
  width: 20px; /* Set the width */
  height: 20px; /* Set the height */
  background-color: #e25535; /* Set the background color */
  border-radius: 50%; /* Make it round */
}
.u-dot {
  width: 20px; /* Set the width */
  height: 20px; /* Set the height */
  background-color: #86efac; /* Set the background color */
  border-radius: 50%; /* Make it round */
}
.dot-flx {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.Polkadot {
  width: 20px; /* Set the width */
  height: 20px; /* Set the height */
  background-color: cyan; /* Set the background color */
  border-radius: 50%; /* Make it round */
}
.Solana {
  width: 20px; /* Set the width */
  height: 20px; /* Set the height */
  background-color: purple; /* Set the background color */
  border-radius: 50%; /* Make it round */
}
.Cardano {
  width: 20px; /* Set the width */
  height: 20px; /* Set the height */
  background-color: yellow; /* Set the background color */
  border-radius: 50%; /* Make it round */
}
.Ethereum {
  width: 20px; /* Set the width */
  height: 20px; /* Set the height */
  background-color: blue; /* Set the background color */
  border-radius: 50%; /* Make it round */
}
.bitcoin {
  width: 20px; /* Set the width */
  height: 20px; /* Set the height */
  background-color: red; /* Set the background color */
  border-radius: 50%; /* Make it round */
}
.dough {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  flex-direction: column;
}
.label {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.add-icon {
  font-size: xx-large;
}
.wa {
  color: #25d366;
  font-size: large;
}
.yt {
  color: #ff0000;
  font-size: large;
}
.inst {
  color: purple;
  font-size: large;
}
.em {
  color: #d14836;
  font-size: large;
}
