.chart-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chart {
  width: 300px;
  height: 150px;
}

.legend {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.legend-item {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 442px) {
  .doughnut .doughnut-chart {
    width: 171px !important;
    height: 91px !important;
  }
  /* Additional styling for responsive layout */
  .pie-chart {
    width: 100vw;
  }
  .pie-flx {
    flex-direction: column;
  }
  .label {
    justify-content: center;
  }
}
